<div class='container-xl mt-5'>
    <div class="d-flex justify-content-center p-2 mx-auto mt-3">
    <form [formGroup]="todoForm" (ngSubmit)="onSubmit()" class="bg-light p-5 rounded shadow-lg">
        <p class='display-4'>Ajout tâche</p>
        <div *ngIf="creationSuccessful" class="alert alert-success" role="alert">
            Tache créée🎉!
          </div>
        <div class='form-group'>
                    
            <label for="description" class="font-weight-bold h6">Description</label>
            <input type="text" class='form-control p-2' placeholder='Rendre le projet' name="description" formControlName="description" id="description" for="description">   
       </div>
       <div class='form-group'>
                    
        <label for="name" class="font-weight-bold h6">Status de la tache</label>
        <select name="status_task" formControlName="status_task"  name="status_task" class="form-select" id="status">
          <option  *ngFor="let status of statusTask" value="{{status}}">{{status}}</option>
        </select>
    
   </div>
   <div class="form-group">
    <label class="font-weight-bold h6">Date de création</label>
    <app-date-picker  (selectedDate)="emitDate($event)"></app-date-picker>   
   
   </div>
   <div class='form-group my-2 text-center'>
        <button class='btn btn-success px-4 py-2 '><span>Ajouter <i class="fa-solid fa-plus"></i></span></button>

    </div>
    </form>
</div>
</div>