<div class="container mt-5 h-100">
      
    <div>
        <h1 class="display-3">Liste des tâches</h1>
        <a routerLink="/create" class="btn btn-primary">Créer une tache</a>
    </div>
    
    <div   class="flex flex-column justify-content-center h-100">
        <!-- <ion-content   style="height: 200;" class="ion-padding" > -->
       
        <div *ngFor="let todo of this.todos">
            <app-single-todo
             
            [todo]="todo">

            </app-single-todo>
            
        </div>
        <br><br><br>
    <!-- </ion-content> -->

    </div>
   
</div>
